/*Mobile design*/
:root{
  --main-background: hsl(210, 46%, 95%);
  --main-container-background: white;
  --header-text-color: /*hsl(214, 17%, 51%)*/ hsl(217, 19%, 35%);
  --main-text-color: /*hsl(212, 23%, 69%)*/ hsl(214, 17%, 51%);
  --font: Manrope, sans-serif;
  --header-font-weight: 700;
  --main-text-weight: 500;
  --share-section-background: hsl(217, 19%, 35%);
  --date: hsl(212, 23%, 69%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:none;
}
html{
  font-size: 13px;
}
body{
  background-color: var(--main-background);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-container{
  background-color: var(--main-container-background);
  margin: 5rem auto 5rem auto;
  height: auto;
  border-radius: 10px;
  width: 95%;;
}
.main-image-section{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.main-image-section img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.main-info-section{
  padding: 2.3rem;
}
.main-info-section h1{
  color: var(--header-text-color);
  font-weight: var(--header-font-weight);
  font-size: 1.3rem;
  width: 100%
}
.main-info-section p{
  color: var(--main-text-color);
  font-weight: var(--main-text-weight);
  font-size: 1rem;
  width: 19.7rem;
}
.profile-section{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  /*visibility: hidden;*/
}
.hidden{
  display: none;
}
.profile-section img:not(.share img){
  height: 3.7rem;
  border-radius: 50%;
}
.profile-info{
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 1;
  width: auto;
  /*border: red solid;*/
  width: 9.7rem;
}
.profile-info strong{
  margin: 0;
  font-size: 1.1rem;
  font-weight: var(--header-font-weight);
  color: var(--header-text-color);
}
.profile-info p{
  margin: 0.1rem 0 0 0;
  font-size: 1rem;
  font-weight: var(--main-text-weight);
  color: var(--date);
}
.profile-section button{
  /*width: 3.846rem;
  height: 2.692rem;*/
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--main-background);
  border: none;
  justify-self: flex-end;
}
.share-section{
  background-color: var(--share-section-background);
  display: none;/*this is temporary, this original value is none*/
  flex-direction: row;
  height: auto;
  border-radius: 0 0 10px 10px;
  padding: 1px 2.3rem 1px 2.3rem;
  align-items: center;
}
.active{
  display: flex;
  margin-top: -25px;
}
.share-section p{
  color: var(--date);
  height: 2rem;
  font-weight: var(--main-text-weight);
}
.icons-container{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.icons-container img{
  height: 1.5rem;
  width: 1.5rem;
}
.share{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--main-background);
  border: none;
}
.hidden{
  display: flex;
}
@media all and (min-width: 768px){
  .main-container{
    display: grid;
    grid-template-columns: 1fr 32.5rem;
    grid-template-areas: 
    "first-section second-section";
    width: 50%;
    margin-top: 10rem;
    margin-bottom: auto;
    height: auto;
    gap: 0;
    position: relative;
    border-radius: 10px;
  }
  .main-image-section{
    grid-area: first-section;
    width: 100%;
    border-radius: 10px 0 0 10px;
  }
  .main-image-section img{
    height: 100%;
    border-radius: 10px 0 0 10px;
    width: 100%;
  }
  .main-info-section{
    grid-area: second-section;
    background-color:  var(--main-container-background);
    width: auto;
    border-radius: 10px;
  }
  .main-info-section h1{
    width: 80%;
    margin: 0;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .main-info-section p{
    width: 100%;
    margin: 0;
  }
  .profile-section{
    position: relative;
  }
  .profile-section button{
    justify-content: flex-start;
    border-radius: 100%;
    position: absolute;
    left: 23rem;
  }
  .share.button-active{
    background-color: var(--share-section-background);
  }
  .share-section{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    left: 39rem;
    top: 9.1rem;
    width: 13rem;
    vertical-align: center;
    height: 3.5rem;
    padding: 0 0 0 1.5rem;
    margin: 0;
  }
  .share-section::after{
    content: "";
    position: absolute;
    /*height: 2rem;
    width: 2rem;*/
    height: 0;
    width: 0;
    transform: translateX(-50%);
    border-top: 1.5rem solid var(--share-section-background);
    /*background-color: red;*/
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-bottom: 0 solid transparent;
    top: 3rem;
    left: 50%;/*Original was 43%*/
  }
  .share-section p{
    font-size: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
  }
  .share-section button{
    display: none;
  }
  .icons-container{
    gap: 0.7rem;
    margin: 0 0 0 1rem;
  }
}